
	<div class="container">
        <h2 class="text-center"> Nos evenments</h2>
        <h6 class="d-flex justify-content-center">À ce jour il y a<span class="text-danger ml-3 mr-2"><%= Event.all.count %></span>events </h6>      
        <div class="body" style="display:flex-wrap:wrap; width:100%; height:auto">
                <% @events.each do |event| %> 
                    <div  class="col-12" style="flex-wrap:wrap height:150px; align-self:flex-start;" >
                        <div class="card col-md-12 bg-light colo box-shadow border-secondary" style="margin-bottom:3vh; height:120px; display: block;">
                            <div class="card-body">
                                <h4 class="card-title font-weight-bold playfair-relative"> <%= event.title.capitalize %> <span class="badge badge-info badgecustom"><%= Comment.where(event: event.id).count %> <span style="font-size: .8em"> 	💬</span></span></h4>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text text-danger"> <%= event.date %></p>
                                    </div>

                                    <div class="col text-right">
                                        <%= link_to "Read more about this event  ##{event.id}", event_path(event.id), :class => " btn btn-outline-success" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 <% end %>
        </div>
        </div>
