
<div class="container">

<div class="card border-secondary col-md-8 offset-md-2 p-0">
<div class="card-header col-lg-12 d-flex m-0 p-0 rounded text-center bg-danger text-white", width=100%>
<h2 class="py-2"  style="display: inline-block; padding-left:15px"> Event</h2> 
<a class=" ml-auto p-1 mt-2 mr-2 btn btn-primary btn-lg " href="#" role="button" style="display: inline-block; height:35px; font-size:15px">Subscribe</a>
</div>
<div class="card-body px-0 py-3 mx-0 my-1">

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Title:</p></div><div class="col-6"><p class="text-primary font-italic"><%= @event.title%></p></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Created by:</p></div><div class="col-6"><%= link_to "#{@user.user_name}", user_path(@user), :class => "badge badge-success" %></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Date:</p></div><div class="col-6"><p class="text-danger font-italic"><%= @event.date%></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Lieu:</p></div><div class="col-6"><p class="text-primary font-italic"><%= @event.city %></p></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Nombre des Participants: </p></div><div class="col-6"><p class="text-primary font-italic"><%=@present.all.count %></p></div>
      </div>

      <div class="row text-left  justify-content-center">
        <div class="col-4"> <p class="font-weight-bold">Description:</p></div><div class="col-6"> <p><%=@event.description%></p></div>
     </div>
</div>
</div>


<div class="content">
<br/>
<div style=" background-color:rgba(247,208,158, 0.5); margin:auto; padding-left:15px; padding-top:10px; padding-bottom:10px">
<h3> Commentes</h3>
</div>
<div class="body mt-4" style="display:flex-wrap:wrap; width:100%; height:auto text-left">
                <% @comments.each do |comment| %> 
                    <div  class="col-10 offset-1" style="flex-wrap:wrap height:150px; align-self:flex-start; background-color:orange" >
                        <div class="card col-md-12 bg-light colo box-shadow border-secondary" style="margin-bottom:3vh; height:auto; display: block;">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold playfair-relative"> <%= comment.title.capitalize %></h6>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text text-success"> <%=comment.user.first_name%>,<%=comment.user.last_name%><span class="text-dark"> at</span><span class="card-text text-danger"> <%=comment.created_at %></span></p>
                                       <p class="card-text"> <%=comment.content%></p>

                                    <div class="col text-right mr-0 p-0">
                                        <a class="mt-1 p-1 btn  btn-outline-info" href="#" role="button" style="height:30px; font-size:15px">Recomment</a>
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 <% end %>
        </div>


</div>
